.progress-container {
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.progress-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%; /* This will animate */
    height: 4px;
    background: linear-gradient(90deg, rgb(151, 58, 168, 0.5), rgb(129, 135, 220, 0.5), rgb(159, 160, 255, 0.5), rgb(229, 76, 255, 0.5));
    transition: width 0.4s ease;
    z-index: 1;
}

.progress-steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 2;
}

.step {
    width: 80px;
    height: 80px;
    background-color: #cdaaee;
    border: 4px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, border-color 0.3s ease;
}

.step img{
    width: 50px;
    height: 50px;
    align-items: center;
}

.step.active {
    background-color: rgb(151, 58, 168, 0.8);
    border-color: #9FA0FF;
}


.heading{
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.05px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.subtext{
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #7F7F7F;
    font-family: "DM Sans";
    font-size: 30px;
    font-weight: 500;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.pageHeader{
    width: 24vw;
    height: auto;
    border-radius: 8px;
    border: 1px solid #DDBDFC;
    background: linear-gradient(180deg, rgba(218, 182, 252, 0.37) 0%, rgba(142, 148, 242, 0.37) 100%);
    box-shadow: 8px 7px 8.2px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);

}

.pageHeader h3{
    font-family: "DM Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.9px;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.selectOpt{
    color: #000;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #000 1px solid;
    width: 30%;
    height: 200px;
    border-radius: 5px;
}

.tyom{
    width: 20vw;
    height: auto;
    border-radius: 34px;
    border: 1px solid #DDBDFC;
    background: linear-gradient(180deg, rgba(218, 182, 252, 0.37) 0%, rgba(142, 148, 242, 0.37) 100%);
    box-shadow: 8px 7px 8.2px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
}

.tyom p{
    color: #000;
    font-family: "DM Sans";
    font-size: 18px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 10px;
}

.insideButton{
    display: flex;
    gap: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50%;
}

.test p, .labelText{
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#modelSelect{
    width: 227px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid rgba(172, 70, 161, 0.50);
    background: linear-gradient(180deg, rgba(218, 182, 252, 0.37) 0%, rgba(142, 148, 242, 0.37) 100%);
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
}

.loadButton{
    width: 10vw;
    height: auto;
    padding: 8px;
    flex-shrink: 0;
    border: 1px solid #DDBDFC;
    background: linear-gradient(180deg, rgba(218, 182, 252, 0.37) 0%, rgba(142, 148, 242, 0.37) 100%);
    box-shadow: 8px 7px 8.2px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
}

.apiform{
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
}

.apiselect{
    border: #000 1px solid;
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

#modelForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dd{
    border: #000 1px solid;
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.apiform{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 1300px) {
    .pageHeader{
        width: 30%;
    }

}

@media screen and (max-width: 768px) {
    .progress-container {
        flex-direction: column;
        width: 90%;
    }

    .subtext{
        font-size: 25px;
    }

    .pageHeader{
        width: 50%;
    }

    .step {
        width: 60px;
        height: 60px;
    }

    .step img {
        width: 40px;
        height: 40px;
    }

    .options{
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 70%;
    }

    .test, .dd, .apiselect{
        width: 50%;
        
    }

    .tyom{
        width: 70%
    }

    .loadButton{
        width: 50%;
    }

    .but{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    
}

@media screen and (max-width: 480px) {
    .subtext{
        font-size: 20px;
    }

    .progress-container {
        flex-direction: column;
        width: 100%;
    }

    .step {
        width: 50px;
        height: 50px;
    }

    .step img {
        width: 30px;
        height: 30px;
    }

    .pageHead {
        font-size: 20px;
    }
}